.nav_bar{
	margin-bottom: 0px;
    border-radius: 0px;
    border: none;
}
.side_bar{
	width: 146px;
    background-color: #222;
/*    position: absolute;
*/    border-top: 1px solid black;

	padding: 5px 20px;

	background:#343434;

	position: fixed;

	top: 0;

	left: 0;

	bottom: 0;

	height: 100%;

}
.content{
	margin-left: 180px;
	margin-top: 50px;
}
.input_number{
	width: 50%;
}
.input_submit{
	width: 30%;
}
.input_question{
	width: 70%;
}